---
layout: default
---

<h3>Showcase</h3>
<hr>
	<div class="gallery">
		<div class="row">
			<div class="one-half column sidebar">
				<a class="label-link" href="{{ "art.html" | relative_url }}">
				<img src="images/notretopo.png">
				<p>Character Art</p>
				</a>
			</div>
			
			<div class="one-half column sidebar">
				<a class="label-link" href="https://github.com/bhespiritu">
				<img src="images/gravity.png">
				<p>Code Projects</p>
				</a>
			</div>
			
			
		</div>
<h3>Latest Blog Posts</h3>
<ul class="myposts">
{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>